{% extends 'main/base.html' %}

{% block content %}
<div>
	<b>
	WE CONDUCT COVID TESTING! No Appointment Required
	</b>
</div>

<div>
* All the tests have been reviewed by the FDA and approved for EUA test.

* We provide four different tests for coronavirus:
Healgen/Lyher Covid-19 IgG/IgM Combo Test Cassette (Whole Blood/Serum Plasma) Results are reported in two hours (For all purposes)
Quidel Sofia2 SARS FIA (qualitative detection of nucleocapsid protein from SARS-CoV-2) Nasal Swab Results are reported in two hours. (For school,work, surgey, and doctor visits)
Coronavirus neuclear acid rtPCR test for the purpose of air flight. Results are reported in 24 - 48 hours


*Please bring following original documentation for the free test:

   1) Driver License (any state in USA) or New York State ID 
   2) Social Security Card 
   3) Health Insurance Card 



我们提供四种不同的新冠病毒测试：

新冠病毒 IgG / IgM 双重抗体组合测试 (全血/血清血浆）-- 2小时内报告结果
新冠病毒核酸蛋白测试 (鼻拭子) -- 2小时内报告结果
航班新冠病毒核酸rtPCR检测 -- 24 - 48小时报告结果

* 所有测试方法已由美国FDA审查并批准用于EUA测试。 ​
​*无需预约。


*测试请带以下文件(原件)：
1）驾照（美国任何州) 或纽约州ID  2）社安卡  3）健康保险卡
</p>
{% endblock %}