{% extends 'main/base.html' %}

{% block title %} Display Clients {%endblock%}
{% block content%}
<div>
	<table class="table table-dark">
	<tr>
		<th scope="col">Client Name</th>
		<th scope="col">Username</th>
		

	</tr>
		{% for each in ls%}
			<tr>
				<td>{{each.name}}</td>
				<td>{{each.fromUser}}</td>
				
			</tr>
		{%endfor%}
	</table>
</div>
<a href="/admin">Admin Log in</a>

<!--
<div>
	<form method="post" action="/clients/">
	{%csrf_token%}
{{form}}
	<button type="submit", name="save"> New Clinic </button>
</form>
</div>
-->

{%endblock%}